In [14]:
import requests
import pandas as pd

# Set API endpoint URL
url = 'https://api.openaq.org/v1/measurements'

# Set query parameters
params = {
    'country': 'ES',
    'city': 'Madrid',
    'parameter': 'pm25',
    'limit': 100,    
    'date_from': '2020-02-01T00:00:00Z',
    'date_to': '2020-04-30T23:59:59Z',
}

# Send initial API request
response = requests.get(url, params=params)
response_json = response.json()

# Get total number of pages
total_pages = response_json['meta']['found'] // params['limit'] + 1

# Initialize an empty list to store results
results_list = []

# Loop through all pages of results
for page in range(1, total_pages + 1):
    # Set page parameter
    params['page'] = page
    
    # Send API request for current page
    response = requests.get(url, params=params)
    response_json = response.json()
    
    # Process results for current page
    results = response_json['results']
    for result in results:
        # Append result to results_list
        results_list.append(result)

# Convert results_list to a Pandas DataFrame
df = pd.DataFrame(results_list)

# Print the DataFrame
df

,location,parameter,value,date,unit,coordinates,country,city
0,ES2028A,pm25,3,"{'utc': '2020-04-30T01:00:00Z', 'local': '2020...",µg/m³,"{'latitude': 40.3128499994701, 'longitude': -3...",ES,Madrid
1,ES1890A,pm25,6,"{'utc': '2020-04-30T01:00:00Z', 'local': '2020...",µg/m³,"{'latitude': 40.34193999947, 'longitude': -3.8...",ES,Madrid
2,ES1563A,pm25,7,"{'utc': '2020-04-30T01:00:00Z', 'local': '2020...",µg/m³,"{'latitude': 40.4791699994696, 'longitude': -3...",ES,Madrid
3,ES1810A,pm25,6,"{'utc': '2020-04-30T01:00:00Z', 'local': '2020...",µg/m³,"{'latitude': 40.2519399994703, 'longitude': -4...",ES,Madrid
4,ES1809A,pm25,1,"{'utc': '2020-04-30T01:00:00Z', 'local': '2020...",µg/m³,"{'latitude': 40.1852799994705, 'longitude': -3...",ES,Madrid
...,...,...,...,...,...,...,...,...
73,ES1802A,pm25,11,"{'utc': '2020-04-23T01:00:00Z', 'local': '2020...",µg/m³,"{'latitude': 40.9102799994684, 'longitude': -3...",ES,Madrid
74,ES1803A,pm25,14,"{'utc': '2020-04-23T01:00:00Z', 'local': '2020...",µg/m³,"{'latitude': 40.6338899994691, 'longitude': -4...",ES,Madrid
75,ES1752A,pm25,4,"{'utc': '2020-04-23T01:00:00Z', 'local': '2020...",µg/m³,"{'latitude': 40.4549999994696, 'longitude': -3...",ES,Madrid
76,ES1838A,pm25,6,"{'utc': '2020-04-23T01:00:00Z', 'local': '2020...",µg/m³,"{'latitude': 40.5933299994693, 'longitude': -3...",ES,Madrid
77,ES1869A,pm25,4,"{'utc': '2020-04-23T01:00:00Z', 'local': '2020...",µg/m³,"{'latitude': 40.4299999994697, 'longitude': -3...",ES,Madrid